# =========================
# Python
# =========================
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
build/
dist/
*.egg-info/
*.egg
*.whl

# pipx / venv / virtualenv
.venv/
venv/
env/
clean-test/

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage
.coverage
.coverage.*
htmlcov/
.pytest_cache/
.mypy_cache/
.ruff_cache/

# IDEs
.vscode/
.idea/

# macOS
.DS_Store

# Linux
*~

# Logs
*.log

# Jupyter
.ipynb_checkpoints/

# Local runtime files
events.jsonl
